<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--PROCESSED PAGES LIMIT-->
    <add key="PROCESSED_PAGE_LIMIT"            value = "3000" />

    <!-- MongoDB - Remote Server -->
    <add key="MONGO_SERVER"                    value = "" />
    <add key="MONGO_PORT"                      value = "27017" />
    <add key="MONGO_USER"                      value = "hsacUserAdminlast" />
    <add key="MONGO_PSW"                       value = "hsacadministratorlast" />

    <add key="MONGO_DATABASE"                  value = "NEWS_NewYorkTimes" />
    <add key="MONGO_PROCESSED_URLS_COLLECTION" value = "ProcessedUrls" />
    <add key="MONGO_STATS_COLLECTION"          value = "Stats" />
    <add key="MONGO_QUEUED_URLS_COLLECTION"    value = "UrlQueue" />
    <add key="MONGO_HTML_STORAGE_COLLECTION"   value = "HtmlStorage" />
    <add key="MONGO_BOOTSTRAPPER_COLLECTION"   value = "Bootstrapper" />

    <add key="MONGO_AUTH_DB"                   value = "" />
    <add key="MONGO_TIMEOUT"                   value = "" />

    <!-- XLSX -->
    <add key="REPORT_MODEL_PATH"               value = "C:\Projects\Adnet_Personal_Projects\HtmlStructureAnalyzerCrawler\StatsReportGenerator\bin\Release\HSAC_Report_Blank_Model.xlsx"/>
    <add key="OUT_REPORT_DIR"                  value = "C:\Projects\Adnet_Personal_Projects\HtmlStructureAnalyzerCrawler\StatsReportGenerator\bin\Release\"/>

  </appSettings>
</configuration>