<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
    type="System.Configuration.ApplicationSettingsGroup, 
      System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="your_project_name.Properties.Settings"
      type="System.Configuration.ClientSettingsSection, System, 
          Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- MongoDB - Remote Server -->
    <add key="MONGO_SERVER"                    value="ec2-54-85-5-69.compute-1.amazonaws.com" />
    <add key="MONGO_PORT"                      value="27017" />
    <add key="MONGO_USER"                      value="hsacUserAdmin" />
    <add key="MONGO_PSW"                       value="crawlerdbadministrator" />
    <add key="MONGO_DATABASE"                  value="UrlsControl" />
    <add key="MONGO_PROCESSED_URLS_COLLECTION" value="ProcessedUrls" />
    <add key="MONGO_STATS_COLLECTION"          value="Stats" />
    <add key="MONGO_QUEUED_URLS_COLLECTION"    value="UrlQueue" />
    <add key="MONGO_HTML_STORAGE_COLLECTION"   value="HtmlStorage" />
    <add key="MONGO_AUTH_DB"                   value="admin" />
    <add key="MONGO_TIMEOUT"                   value="10000" />
  
    <!-- AWS -->
    <add key="USER_NAME"                       value= "HtmlQueue"/>
    <add key="USER_ACCESS_KEY_ID"              value= "AKIAJBX2CBL6S5XK3WSA"/>
    <add key="USER_SECRET_ACCESS_KEY"          value= "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"/>
    <add key="SQS_QUEUE_URL"                   value= "https://sqs.us-east-1.amazonaws.com/461546948012/HtmlQueue"/>

 </appSettings>
</configuration>