<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
  <appSettings>
    <!-- MongoDB - Remote Server -->
    <add key="MONGO_SERVER"                    value = "ec2-54-85-5-69.compute-1.amazonaws.com" />
    <add key="MONGO_PORT"                      value = "27017" />
    <add key="MONGO_USER"                      value = "hsacUserAdmin" />
    <add key="MONGO_PSW"                       value = "crawlerdbadministrator" />
    <add key="MONGO_DATABASE"                  value = "UrlsControl" />
    <add key="MONGO_PROCESSED_URLS_COLLECTION" value = "ProcessedUrls" />
    <add key="MONGO_STATS_COLLECTION"          value = "Stats" />
    <add key="MONGO_QUEUED_URLS_COLLECTION"    value = "UrlQueue" />
    <add key="MONGO_HTML_STORAGE_COLLECTION"   value = "HtmlStorage" />
    <add key="MONGO_AUTH_DB"                   value = "admin" />
    <add key="MONGO_TIMEOUT"                   value = "10000" />

    <!-- AWS -->
    <add key="USER_NAME"                       value = "HtmlQueue"/>
    <add key="USER_ACCESS_KEY_ID"              value = "AKIAJ3AHH56T6NZ5SGFA"/>
    <add key="USER_SECRET_ACCESS_KEY"          value = "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"/>
    <add key="SQS_QUEUE_URL"                   value = "https://sqs.us-east-1.amazonaws.com/461546948012/HtmlQueue"/>
                                                     
    <add key="BOOTSTRAPPER_FLAG"               value = "true" />
    <add key="BOOTSTRAPPER_URL"                value = "http://www.newsandsentinel.com/" />
    <add key="BOOTSTRAPPER_DOMAIN"             value = "www.newsandsentinel.com" />

  </appSettings>
</configuration>